@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: Poppins;
}

.rectangle{
    display: flex;
    height: 20vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 35px;
    background-color: #2B3750;
    color: white;
    font-weight: 700;
}

body{
  background-image: url(/images/background.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-size: 45cm;
}

form {
  width: 600px;
  background: #fff;
  padding: 20px 40px 40px;
  border: 1px solid #ccc;
  margin: 50px auto 0;
  margin-bottom: 50px;
  border-radius: 5px;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  
}
label i {
  color: #999;
  font-size: 80%;
}
input, select {
  border: 1px solid #ccc;
  padding: 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
}
.row {
  padding-bottom: 10px;
}

.form-inline label, .form-inline input {
  display: inline-block;
  width: auto;
  padding-right: 15px;
}
.error {
  color: black;
  font-size: 90%;
}
input[type="submit"] {
  font-size: 110%;
  font-weight: 100;
  background: #fcac29;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background: #fed188;
}
.textarea{
  width: 550px;
  height: 100px;
  padding: 10px;
}
.error input {
  border:3px red solid;
}

.success input {
  border:3px green solid;
}
.input-group {
  margin:-10px; 
  position:relative;
}
.input-group i {
   position:absolute;
   right:10px;
   top:35px;
   visibility: hidden;
}

.success i.fa-check-circle{
   visibility: visible;
   color:green;
}

.error i.fa-exclamation-circle {
  visibility: visible;
  color:red;
}

.input-group p {
   font-size: 15px;
   color:red;
   visibility: hidden;
}

.error p {
   visibility: visible;
}
.btnsubmit {
  width:100%;
  padding:10px;
  font-size: 20px;
  background-color: #fcac29;
  color:white;
  border:none;
}
.btnsubmit:hover{
  background-color: #fed188;
}

.form-inline{
  padding-right: 300px;
  padding-top: 10px;
}
