body{
    height: 500px;

}
.maincontent{
    
height: 500px;
padding-left: 250px;
padding-top: 200px;
font-weight: 700;
   
  }

.back{
  text-decoration: none;
  width: 150px;
  height: 40px;
  background-color: #fcac29;
  color: white;
  border-radius: 3px;
  border-color: antiquewhite;
}